
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>            
<style>   
#itemlog{    
    align-items: center;      
    text-align: center;
}          
#titulo{   
    text-align: center;            
    
 
}   
#cuerpo{  
    background-color:  black;
}      
</style> 
<body id="cuerpo">
    <h2 id="titulo" style="color: white;">Registrar usuario</h2>
<div id="itemlog">
<form method="POST" style="color: white;">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Registrar</button>
</form>     
</div>

<hr />

<footer style="text-align: center;"><a href="accounts/login"  >Iniciar sesión</a>    </footer>            

</body>
</html>
