
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>        
<style>              
.portada{            
   background: url("https://image.shutterstock.com/image-vector/python-coding-language-sign-on-260nw-1389877574.jpg");
    height: 90vh;        
    background-size:cover ;
    background-position: center ;
}    
 #temas{    
    background-color:coral;       
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
 }      
 #titulo{   
    font-style: italic;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;     
    font: size 15px; ;      
    background-color: grey;        
    text-align-last: center;
 }
#cuerpo{   
   background-color: white;    

}       
#pie{   
   background-color: grey;    
   text-align-last: center;
}          
#username{        
   font-size: 30px;           
 

}
</style>       
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">             
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>     
<body id="cuerpo">          
   <div class="container-fluid portada" >
      
   </div>                     
   
   
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

   <div class="container ">            
      <div class="row">          
       <div class="col-12"> 
        <h1 id="titulo">Área para miembros :FORO SILVA</h1>           
       </div>        
      </div>
   </div>
   

   {% block content %}                   
  <div class="container">
   <h2>  Bienvenido <strong id="username"  style="cblack;"><b>{{request.user.username}}</b></strong>, 
      al foro de DIEGO SILVA Enrique.  <a href="/creartemas">Nuevo Tema</a>    <a href="/logout">Cerrar sesión</a></h2> 
  </div> 
           
   <div class="container">
      
               
    <h3>Temas:</h1>         
    {% for tema in temas %}        
    <hr>       
    <div id="temas">   
      <h2>{{tema.titulo}}</h2>     
      <p> {{tema.texto}}  </p>            
      {%if tema.descripcion == request.user.username %} 
         <footer>Autor:{{tema.descripcion}}  Fecha:{{tema.fecha}} </footer> <a name="" id="" class="btn btn-primary mx-3" href="/editar/{{tema.id}}" role="button">Editar</a><a name="" id="" class="btn btn-danger" href="/eliminar/{{tema.id}}" role="button">Eliminar</a>    
      {% else %}      
         <footer>Autor:{{tema.descripcion}}  Fecha:{{tema.fecha}} </footer>       
      {% endif %}   
          
    </div>         
    <hr>
    {% endfor %}            
    {% endblock content %}    
              
 <footer id="pie"><a href="/creartemas">Nuevo Tema</a>    <a href="/logout">Cerrar sesión</a> <a href="/">Temas</a></footer>
</div>  
 <div class="active"></div>
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
 

<script src="{% static '/js/bootstrap.min.js' %}"></script>             

</body>
</html>

